 /* MEDIA */

@media screen and (min-width:481px) {

header {
    margin-bottom: -15%;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.2rem;
}

.f-size {
    font-size: 1rem;
    line-height: 1.5rem;
}

.blue-btn {
    font-size: 1rem;
}

/* BANNER */

.banner-col {
    display: flex;
    justify-content: space-between;
    margin: 8%;
    flex-wrap: wrap;
    flex: content;
}

#b-card-1 {
    width: 66%;
}

.banner-card {
    width: 32%;
}

.card-big-logos {
    font-size: 3rem;
}

/* TESTIMONIALS */

.tm-col {
    width: 90%;
}

.tm-card {
    flex-direction: row;
    text-align: left;
    padding: 4%;
}

/* WORK WITH US */

.wwu-col {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wwu-card {
    width: 48%;
    padding: 5%;
}

.wwu-head {
    width: 90%;
    display: inline-block;
}

/* ABOUT US */

.aus-head {
    width: 100%;
}

.aus-col {
    display: flex;
    flex-wrap: wrap;
}

.aus-card {
    width: 40%;
    font-size: 1rem;
}

.aus-testimonial {
    width: 100%;
}

.special-effect-testimonial {
    position: absolute;
    font-size: 4rem;
    color: blueviolet;
    top: 2%;
    left: 70%;
}

.violet-btn {
    font-size: 1rem;
}

}


/* MEDIA 768 */
@media screen and (min-width:768px) {

.white-btn {
    padding: 2% 10%;
}

.logo {

    width: max-content;
    min-width: 20%;
    
}

.h-hamb {
    display: none;
}

.h-menu {
    display: flex;
}

.get-started {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10% 20px;
}

/* BANNER CARDS */
.banner-col {
    padding: 0 5%;
}

h3 {
    font-size: 2rem;
}

h2 {
    font-size: 2.2rem;
}

.f-size {
    font-size: 1.2rem;
    line-height: 140%;
}

#b-card-1 {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
}

.b-card-1-1 {
    display: inline-block;
    width: 40%;
}

.b-card-1-2 {
    display: inline-block;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20rem;
}


/* PLANNING */

.planning-col {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.planning-card {
    width: 50%;
    margin-top: 5%;
}

/* TESTIMONIALS */

.tm-col {
    width: 60%;
}

.testimonial {
    width: 60%;
}

/* WORKING WITH US */

.wwu-col {
    width: 70%;
}

.wwu-card {
    width: 32%;
}

.n-card {
    font-size: 3rem;
}

}